%table
  %tr
    %th Box Name
    %th Price
    %th Subscribed
  - @boxes.each do |box|
    %tr
      %td= link_to(box.name, box)
      %td= box.price
      %td
        - if !box.is_owner?(current_user)
          - if !box.is_subscribed?(current_user)
            - if !current_user.cc_id.present?
              = render(:partial => 'boxes/anonymous', :locals => {:box => box})
              / = link_to 'subscribe', new_subscription_path(box)
            - else
              = render(:partial => 'boxes/customer', :locals => {:box => box})
          - else
            = link_to 'unsubscribe', edit_subscription_path(box), :class => 'button small alert'