.row
  .columns.large-12
    #boxes_index
      %ul
        - @boxes.each do |box|
          %li{:class => 'boxes'}
            = link_to(box.img_sm, box)
            = box.name
            = box.price
            - if !box.is_owner?(current_user)
              - if !box.is_subscribed?(current_user)
                - if !current_user.cc_id.present?
                  = render(:partial => 'boxes/anonymous', :locals => {:box => box})
                  / = link_to 'subscribe', new_subscription_path(box)
                - else
                  = render(:partial => 'boxes/customer', :locals => {:box => box})
              - else
                = link_to 'unsubscribe', edit_subscription_path(box), :class => 'button small alert'

