 <nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <%= link_to(image_tag('boxify_logo.png'), 'home#index') %>
      <h1><a href="#"></a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">


    <!-- Right Nav Section -->
    <ul class="right">

        <ul class="dropdown">
          <li><label>Dropdown Level 1 Label</label></li>
          <li class="has-dropdown"><a href="#" class="">Dropdown Level 1a</a>

            <ul class="dropdown">
              <li><a href="#">Dropdown Level 2a</a></li>
              <li><a href="#">Dropdown Level 2b</a></li>
              <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                <ul class="dropdown">
                  <li><a href="#">Dropdown Level 3a</a></li>
                  <li><a href="#">Dropdown Level 3b</a></li>
                  <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Level 2d</a></li>
              <li><a href="#">Dropdown Level 2e</a></li>
              <li><a href="#">Dropdown Level 2f</a></li>
            </ul>
          </li>
          <li><a href="#">Dropdown Level 1b</a></li>
          <li><a href="#">Dropdown Level 1c</a></li>
          <li class="divider"></li>
          <li><label>Dropdown Level 1 Label</label></li>
          <li><a href="#">Dropdown Level 1d</a></li>
          <li><a href="#">Dropdown Level 1e</a></li>
          <li><a href="#">Dropdown Level 1f</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-form">
        <form>
          <div class="row collapse">

            <div class="small-4 columns">

            </div>
          </div>
        </form>
      </li>
      <li class="divider show-for-small"></li>
      <li class="has-form">
        <% if user_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method=> 'delete') %>
              <%= current_user.email %>
            </li>
          <% else %>
            <li>
              <%= link_to "Facebook Login", user_omniauth_authorize_path(:facebook) %>
            </li>
            <li>
              <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
            </li>
            <li>
              <%= link_to('Login', new_user_session_path) %>
            </li>
          <% end %>
          <% if user_signed_in?  %>
            <li>
              <%= link_to('Edit profile', edit_user_registration_path) %>
            </li>
          <% else %>
            <li>
              <%= link_to('Sign up', new_user_registration_path) %>
            </li>
          <% end %>
      </li>
    </ul>
  </section>
</nav>
