!!!
%html
  %head
    / %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0"}
    %title BOXIFY
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  #nav
    = render :partial => 'layouts/nav'

  %body
    %p{:class=>"notice"}
      = notice
    %p{:class=>"alert"}
      = alert
    = render :partial => 'layouts/body'

%script
  $(document).foundation();
  $(document).foundationTopBar();